<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<style>
table.dataTable tbody th, table.dataTable tbody td {
	padding: 3px 3px;
	vertical-align: middle;
}

.table {
	margin-bottom: 0;
}

.float_footer {
	position: fixed; bottom: 0; left: 10px; width: 100%; background: #e8e8e8; border: solid 1px #CCC; text-align: right; float: right;
}
</style>
</head>
<body>
<div>
	<div class="uui-managepage">
		<div class="page-content-inner wholepageleftlink">
    		<div umid="linknewUm"></div>
    	</div>
		<div class="planeditform wholepagerightcontent" id="planEditForm">
			<div class="planeditform-heading">
				<div class="searchTitleIcon">
					<div class="searchTitleIconDiv"></div>
				</div>
				<div class="planeditform-title">航线审计任务计划信息</div>
			</div>
			<div class="planeditform-uui-tablediv">
			<table class="planeditform-uui-table" style="table-layout: fixed;">
				<tbody>
					<tr>
						<td class="name" style="width: 10%">
							计划编号：
						</td>
						<td class="value">
							{{planInfo.planNo}}
						</td>
						<td class="name" style="width: 10%">
							状态：
						</td>
						<td class="value">
							{{planInfo.planStatusName}}
						</td>
					</tr>
					<tr>
						<td class="name" style="width: 20%">
							计划类型：
						</td>
						<td class="value">
							{{planInfo.schemeTypeName}}
						</td>
						<td class="name" style="width: 20%">
							实施单位：
						</td>
						<td class="value">
							{{planInfo.impleUnitName}}
						</td>
					</tr>
				</tbody>
			</table>
			</div>
			<div class="planeditform-uui-tablediv1">
			<table class="planeditform-uui-table1" style="">
				<tbody>
					<tr>
						<td class="name">
							所属方案：
						</td>
						<td class="value" v-if="isSchemeIdInSelect == 0">
							<input type="text" class="form-control input-sm popover-toggle" disabled="true" v-model="planInfo.schemeSubject" id="planEditScheme"/>
						</td>
						<td class="value" v-else>
							<input type="text" v-select.allowclear="planInfo.schemeId" :options="options1" 
								class="form-control input-sm popover-toggle" id="planEditScheme" selectOnChange="changeScheme"/>
						</td>
						<td class="name">
							观察日期：
							<span class="text-danger" > *</span>
						</td>
						<td class="value rightvalue" colspan="3">
							<input type="text" style="width:45%" v-model="planInfo.observeDate | datestr"
								class="form-control input-sm popover-toggle" id="observeDate"/>
						</td>
					</tr>	
					<tr>
						<td class="name">
							观察航班：
							<span class="text-danger" > *</span>
						</td>
						<td class="value">
							<selectflights :data-object.sync="dataObject" :options="options" :input-tips="inputTips" :input-value.sync="planInfo"></selectflights>
						</td>
						<td class="name">
							观察人员：
							<span class="text-danger" > *</span>
						</td>
						<td class="value rightvalue">
							<input type="text" v-select.allowclear="planInfo.observerId" :options="options2"  class="form-control input-sm popover-toggle" id="planEditObserver"/>
						</td>
						
					</tr>
					<tr>
						<td class="name">
							起飞机场：
						</td>
						<td class="value">
							
							<input type="text" v-model="planInfo.deptAirport" readonly="readonly" class="form-control input-sm popover-toggle" v-if="planInfo.deptAirport"/>
							<input type="text" v-model="planInfo.depAirportNo" readonly="readonly" class="form-control input-sm popover-toggle" v-else/>
						</td>
						<td class="name">
							着陆机场：
						</td>
						<td class="value rightvalue">
							<input type="text" v-model="planInfo.arrAirport" readonly="readonly" class="form-control input-sm popover-toggle" v-if="planInfo.arrAirport"/>
							<input type="text" v-model="planInfo.arrAirportNo" readonly="readonly" class="form-control input-sm popover-toggle" v-else/>
						</td>
					</tr>
					<tr>
						<td class="name">
							所属机队：
						</td>
						<td class="value rightvalue" colspan="3">
							<input type="text" v-model="planInfo.orgName" readonly="readonly" class="form-control input-sm popover-toggle"/>
						</td>
					</tr>
					<tr>
						<td colspan="4">
							<div class="desc">详细描述：</div>
							<div class="desctextarea">
								<textarea rows="5" cols="65" class="depAccountBgWhite" v-model="planInfo.planDesc" class="form-control input-sm popover-toggle">
							</textarea>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
			<div class="form-group col-sm-20 col-md-20 planeditformbutton">
				<button type="button" class="btn btn-default" v-on:click="save" dataid="{{ planInfo.id }}">保存</button>
				<!-- <button type="button" class="btn btn-default" v-on:click="cancel" >取消</button> -->
			</div>			
		</div>
	</div>
	 <div umid="planLog" style="float:left;margin-left:200px;margin-top:10px;width:1127px"></div>
</div>

</body>
</html>