.criteria-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: static;
}
.criteria-list > li {
    position: relative;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: top;
}
.criteria-selector > .criteria-wrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 200px;
}
.search-criteria-extended .criteria-selector {
    padding-right: 25px;
}
.search-criteria-extended .remove-filter {
    right: 3px;
    top: 6px;
    position: absolute;
}
.search-criteria-extended .criteria-close, .search-criteria-other .criteria-close{
	color: #bbb;
}
.search-criteria-extended .criteria-close:hover,.search-criteria-other .criteria-close:hover{
	color: #000;
}
.listtablerefersh {
    padding-top: 1em;
    float: left;
    margin-left: 10px;
    cursor: pointer;
}
.form-control-feedback{
	top: 0px;
}
.form-group.startdategroup,.form-group.enddategroup{
	display: inline-block;
}