<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<style type="text/css">
	.com-audit-comm_file-workflowlog table.transition td { 
		border: none !important;
	}
</style>
</head>
<body>
	<div>
		<table class="table table-condensed">
			<thead>
				<tr class="active">
					<th width="28%" align="center"><%= com.audit.innerAudit.comm_file.workflowlog.i18n.columns.step%></th>
					<th width="13%" align="center"><%= com.audit.innerAudit.comm_file.workflowlog.i18n.columns.stopover%></th>
					<th width="16%" align="center"><%= com.audit.innerAudit.comm_file.workflowlog.i18n.columns.handler%></th>
					<th width="16%" align="center"><%= com.audit.innerAudit.comm_file.workflowlog.i18n.columns.processingTime%></th>
				</tr>
			</thead>
			<tbody qid="listcontainer">
				
			</tbody>
		</table>
	</div>
</body>
</html>