#s-3b032d7e-8594-4f37-88c5-23bc8a64b910 {
  background-color: transparent;
  background-image: none;
  min-width: 950px;
  min-height: 723px;
}
#s-3b032d7e-8594-4f37-88c5-23bc8a64b910 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-3b032d7e-8594-4f37-88c5-23bc8a64b910 #s-Image_1 {
  position: absolute;
  top: 154px;
  left: 262px;
  width: 684px;
  height: 569px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3b032d7e-8594-4f37-88c5-23bc8a64b910 #s-Category_1 {
  position: absolute;
  top: 175px;
  left: 732px;
  padding-left: 7px;
  width: 169px;
  height: 23px;
  background-color: #E9E9E9;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D8D8D8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D8D8D8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D8D8D8;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  opacity: 0.96;
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-3b032d7e-8594-4f37-88c5-23bc8a64b910 #s-Category_1 .valign {
  width: 151px;
}
#s-3b032d7e-8594-4f37-88c5-23bc8a64b910 #s-Label_1 {
  position: absolute;
  top: 145px;
  left: 732px;
  width: 218px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-3b032d7e-8594-4f37-88c5-23bc8a64b910 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-3b032d7e-8594-4f37-88c5-23bc8a64b910 #s-Button_1 {
  position: absolute;
  top: 175px;
  left: 640px;
  width: 62px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-3b032d7e-8594-4f37-88c5-23bc8a64b910 #s-Button_1 .valign {
  vertical-align: middle;
}
#s-3b032d7e-8594-4f37-88c5-23bc8a64b910 #s-Image_77 {
  position: absolute;
  top: 505px;
  left: 192px;
  width: 1px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3b032d7e-8594-4f37-88c5-23bc8a64b910 #shapewrapper-s-Callout_1 {
  display: none;
}
#s-3b032d7e-8594-4f37-88c5-23bc8a64b910 #s-Callout_1 .content {
  left: 0px;
  top: 0px;
  width: 80px;
  height: 109px;
  position: absolute;
}
#s-3b032d7e-8594-4f37-88c5-23bc8a64b910 #s-Callout_1 {
  position: absolute;
  top: 217px;
  left: 598px;
  width: 80px;
  height: 146px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/b2eaebdd-67b4-42f1-8dfe-14a81565a988.png');
  opacity: 0.99;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#s-3b032d7e-8594-4f37-88c5-23bc8a64b910 #shapewrapper-s-Callout_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3b032d7e-8594-4f37-88c5-23bc8a64b910 #shapewrapper-s-Callout_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-3b032d7e-8594-4f37-88c5-23bc8a64b910 #shapewrapper-s-Callout_1 span#rtr-s-Callout_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3b032d7e-8594-4f37-88c5-23bc8a64b910 #s-Hotspot_1 {
  position: absolute;
  top: 311px;
  left: 628px;
  width: 16px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-3b032d7e-8594-4f37-88c5-23bc8a64b910 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}