#s-58049788-df7e-422e-b3db-030d2db20551 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-58049788-df7e-422e-b3db-030d2db20551 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-58049788-df7e-422e-b3db-030d2db20551 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}