#s-79f2e492-67eb-4e6b-9769-1d612c435860 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79f2e492-67eb-4e6b-9769-1d612c435860 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79f2e492-67eb-4e6b-9769-1d612c435860 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79f2e492-67eb-4e6b-9769-1d612c435860 #s-Callout_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79f2e492-67eb-4e6b-9769-1d612c435860 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}