<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <div class="uui-managepage">
    	<div umid="dictionaryDialog" ></div>
        <div class="uui-managepage-header">
            <div class="container-fluid no-left-right-padding">
                <div class="row">
                    <div class="col-md-3">
                        <h3 class="uui-managepage-title"><%=com.sms.system.dictionaryDefault.i18n.title %></h3>
                    </div>
                    <div class="col-md-9 text-right" >
                        <div class="btn-group">
    	                    <button class="btn btn-default btn-sm" qid="btn_addDictionary"><span class="glyphicon glyphicon-plus"></span> <%=com.sms.system.dictionaryDefault.i18n.addDictionary %></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form uui-managepage-filter uui-panel-graph" qid="filter" >
            <div class="uui-panel-rect-widget">
                <div class="uui-panel-rect-header">
                    <h3 class="uui-panel-rect-title"><%= com.sms.system.dictionaryDefault.i18n.filterTitle%></h3>
                </div>
                <div class="uui-managepage-filter-content uui-panel-rect-body">
                    <div>
                        <div class="form-group col-md-4 col-xs-4 ">
                            <label for=""><%= com.sms.system.dictionaryDefault.i18n.name%></label>
                            <input type="text" class="form-control input-sm" qid="name" maxlength="50" />
                        </div>
                         <div class="form-group col-md-4 col-xs-4 ">
                            <label for=""><%= com.sms.system.dictionaryDefault.i18n.type%></label>
                            <input type="text" class="form-control input-sm" qid="type" maxlength="10" />
                        </div>
                    </div>
                    <div class="text-right" style="clear: both;">
                        <button class="btn btn-default btn-sm" qid="btn_filter"><%= com.sms.system.dictionaryDefault.i18n.searchButton%></button>
                        <button type="button" class="btn btn-link" qid="btn_resetfilter"><%= com.sms.system.dictionaryDefault.i18n.resetButton%></button>
                    </div>
                </div>
            </div>

            
        </div>
        

        <table qid="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            
        </table>
    </div>
</body>
</html>
