<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<style type="text/css">
	.dynamic-link-container{
		padding: 10px 0px 5px 0px;
	}
	.dynamic-link-container .dynamic-link-item{
		height: 80px;
	}
</style>
</head>
<body>
	<div>
		<div qid="display" class="container-fluid dynamic-link-container">
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-3 text-center dynamic-link-item">	
					<a  target="blank" href='../DashBoard.html?pageId=33511599&scrollTarget=33515062'><img src="../../../../img/juneyao/largeRisk.png" /><br/><%= com.sms.dash.juneyao.securityDynamic.i18n.linkA %></a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-3 text-center dynamic-link-item">
					<a  target="blank" href='../DashBoard.html?pageId=33511599&scrollTarget=33594661'><img src="../../../../img/juneyao/unsafeStates.png" /><br/><%= com.sms.dash.juneyao.securityDynamic.i18n.linkB %></a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-3 text-center dynamic-link-item">
					<a  target="blank" href='../DashBoard.html?pageId=33511599&scrollTarget=33517885'><img src="../../../../img/threat_pie.png" /><br/><%= com.sms.dash.juneyao.securityDynamic.i18n.linkC %></a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-3 text-center dynamic-link-item">
					<a  target="blank" href='../DashBoard.html?pageId=33511599&scrollTarget=33517884'><img src="../../../../img/threat_pie_1.png" /><br/><%= com.sms.dash.juneyao.securityDynamic.i18n.linkD %></a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-3 text-center dynamic-link-item">
					<a  target="blank" href='../DashBoard.html?pageId=33511599&scrollTarget=33511606'><img src="../../../../img/icon48-permissions.png" /><br/><%= com.sms.dash.juneyao.securityDynamic.i18n.linkE %></a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-3 text-center dynamic-link-item">
					<a  target="blank" href='../DashBoard.html?pageId=33511599&scrollTarget=33511601'><img src="../../../../img/todolist_1.png" /><br/><%= com.sms.dash.juneyao.securityDynamic.i18n.linkF %></a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-3 text-center dynamic-link-item">
					<a  target="blank" href='../DashBoard.html?pageId=33511599&scrollTarget=33594654'><img src="../../../../img/icon48-fields.png" /><br/><%= com.sms.dash.juneyao.securityDynamic.i18n.linkG %></a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-3 text-center dynamic-link-item">
					<a  target="blank" href='../DashBoard.html?pageId=33511599&scrollTarget=33594653'><img src="../../../../img/icon48-components.png" /><br/><%= com.sms.dash.juneyao.securityDynamic.i18n.linkH %></a>
				</div>			
			</div>
		</div>
	</div>
</body>
</html>